/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/06/2023, 21:36:15
    Author     : Usuario
*/

body {
        display: flex;
        flex-direction: column; 
        background-color: #202020;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        
      }
      
      h1{
          top: -20px;
          color: #FFEA00;
          font-size: 40px;
          align-self: center;
          font-family: "Garamond", serif;
          
            
      }
      
      input[type=text], input[type=number]{background-color: #B0B0B0;
        color: #FFEA00;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 10px;}
      
      input[type=file]{display: none;}
      
      #labelArquivo{position: relative; 
                    right: 12x;}
      
      button, #btnFileCustom
      {background-color: black;
        display: inline-block;
        color: #FFEA00;
        font: "Times New Roman";
        padding: 10px 28px;
        cursor: pointer;
        border-radius: 6px;
        text-align: center;}